# Fichiers de configuration et de sécurité
*.env                   # Fichier d'environnement contenant des informations sensibles

# Environnement virtuel Python
.venv/                # Répertoire de l'environnement virtuel

# Fichiers de cache Python
__pycache__/           # Répertoire de cache
models/__pycache__

# Fichiers et répertoires Alembic
alembic/
alembic.ini

# Configurations spécifiques à l'éditeur
.vscode/               # Configurations de l'éditeur VS Code

# Fichiers de logs
*.log                  # Fichiers de log

# Tests de base de données générés ou fichiers de débogage
*.db
